:root{
--cor-de-fundo:#1E1E1E;
--verde:#6FFF57;
--branco:#FFFFFF;
--botão-ativo:#3A375E;
--botão-inativo:#RGBA(58,55,94,0.5);
--texto-fundo:#RGBA(58,55,94,0.3);
}
body{
background-color: van(--cor-de-fundo);
color: van(--branco);
font-family: chakra petch;sans-serif;
}